.cohort_line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

div.tooltip {
  border: 0;
  border-radius: 8px;
  font: 12px sans-serif;
  height: 32px;
  padding: 2px;
  position: absolute;
  pointer-events: none;
  text-align: center;
  width: 100px;
  z-index: 1;
}

.cohort_table tr:last-child td,
.cohort_table tfoot td {
  border-bottom: none;
}

.cohort_table thead tr th:nth-child(-n + 2) {
  min-width: 70px;
}

.cohort_table th,
.cohort_table tbody tr td:nth-child(-n + 2),
.cohort_table tfoot td {
  border-bottom: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  color: #3A3838;
  font-weight: bold;
}

.cohort_table {
  background-color: #F5F3F3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 9pt;
  margin: auto;
  margin-top: 10px;
}

.cohort_table tr:first-child th:last-child,
.cohort_table tfoot td:last-child {
  border-right: none;
}

.cohort_table tr {
  min-height: 40px;
}

.cohort_table tfoot td {
  border-top: 1px solid #E4E4E4;
}

.cohort_table td, .cohort_table th {
  padding: 10px;
  text-align: center;
  width: 42px;
}
